.background {
  background-image: url("../../images//phone.jpg");
  background-repeat: repeat;
  // width: 100%;
  height: 1200px;
}
.carousel__main {
  padding: 100px 0;
  width: 100%;
}
.main__content__header {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .header {
    width: 100%;
    margin: 30px 0;
    font-family: sans-serif;
    text-align: center;
    background: gray;
    border-radius: 40px;
    box-shadow: inset gray 20px 20px 40px 10px, gray 0 0 24px 12px;
    cursor: default;
  }

  .cards {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main__card {
    width: 250px;
    height: 250px;
  }

  .card__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
